.text-widget-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  //border-radius: 21px;
}
.text-widget-container p {
  word-break: break-word;
  width: 100%;
  height: 100%;
  margin-bottom: 0;
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;
  // align-items: center;
}