#addDevicesModal {
  align-items: end !important;
}

.add-devices-modal-body {
  height: 375px !important;
}

.add-devices-modal-body .value-widget-devices-container {
  max-height: 280px !important;
}