.preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px 0;
}
.preview-container {
  width: 90%;
  min-height: 150px;
  box-shadow: 0 0 35px 0 rgba(53, 53, 53, 0.05);
  border-radius: 17px;
  border: 1px solid rgba(180, 180, 180, 0.08);
}

.mix-chart-preview {
  height: 400px;
}