.border-gray {
  border-color: #d3d8de;
}
.errorMsg {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 87.5%;
  color: #f46a6a;
  margin-bottom: 0;
  margin-left: 2px;
}
.error-label {
  color: #f46a6a;
}
.error-field {
  border-color: #f46a6a !important;
  padding-right: calc(1.5em + 0.94rem);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23F46A6A'%3E%3Ccircle cx='6' cy='6' r='4.5'/%3E%3Cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3E%3Ccircle cx='6' cy='8.2' r='.6' fill='%23F46A6A' stroke='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.235rem) center;
  background-size: calc(0.75em + 0.47rem) calc(0.75em + 0.47rem);
}
