.display-chart-widget {
  width: 100%;
  height: 100%;
  background-color: #fff;
}
.mix-chart-widget-header {
  padding: 20px 0 0 20px;
  // padding: 10px 0 0 10px;
  display: flex;
  align-items: center;
}

.mix-chart-widget-header p {
  color: #636363;
  margin-bottom: 0;
  font-size: 16px;
}

.mix-chart-header-icon {
  font-size: 16px;
  margin-right: 5px;
}